/* custom styles */
#posbox {
  width: 255px;
  height: 255px;
  background-color: #333;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  border-color: #505050;
  touch-action: none;
}
#ball {
  width: 25px;
  height: 25px;
  background-color: rgb(245, 230, 99);
  border: 5px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}
#ball:active {
  background-color: rgba(168, 218, 220, 1.00);
}
#ball:hover {
  cursor: pointer;
  border-width: 8px;
}
/* #boxcontainer {
    width: 255px;
    height:255px;
    padding: 0px;
} */
#triggercontainer {
  margin: auto; /* Centre the component */
  width: 75%; /* Width of the outside container */
}